altair_tiles==0.4.0
annotated-doc==0.0.4
anywidget==0.9.21
arro3-core==0.8.0
asttokens==3.0.1
attrs==25.4.0
click==8.3.1
comm==0.2.3
decorator==5.2.1
executing==2.2.1
iniconfig==2.3.0
ipython==9.11.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyterlab_widgets==3.0.16
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdurl==0.1.2
mercantile==1.2.1
narwhals==2.17.0
numpy==2.4.2
packaging==26.0
pandas==3.0.1
parso==0.8.6
pexpect==4.9.0
plotly==6.6.0
pluggy==1.6.0
polars==1.38.1
polars-runtime-32==1.38.1
prompt_toolkit==3.0.52
psygnal==0.15.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==23.0.1
Pygments==2.19.2
pytest==9.0.2
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
referencing==0.37.0
rich==14.3.3
rpds-py==0.30.0
shellingham==1.5.4
six==1.17.0
stack-data==0.6.3
traitlets==5.14.3
typer==0.24.1
typing_extensions==4.15.0
vegafusion==2.0.3
vl-convert-python==1.9.0.post1
wcwidth==0.6.0
widgetsnbextension==4.0.15
xyzservices==2025.11.0
